<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.1/phpunit.xsd"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         backupGlobals="false"
         colors="true"
         stopOnFailure="false"
         bootstrap="vendor/autoload.php">
    <php>
        <ini name="error_reporting" value="-1" />
        <const name="JUNIT4_XSD_PATH" value="./tests/junit-4.xsd"/>
        <const name="DEFAULT_TIME_VALUE" value="0"/>
        <const name="DEFAULT_TIMESTAMP_VALUE" value="2015-05-21T09:30:00+02:00"/>
    </php>

    <testsuites>
        <testsuite name="JunitXml Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./src</directory>
            <exclude>
                <directory>./tests</directory>
                <directory>./vendor</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
