<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
>
    <php>
        <ini name="intl.default_locale" value="en"/>
        <ini name="intl.error_level" value="0"/>
        <ini name="error_reporting" value="-1" />
        <const name="DEFAULT_TIME_VALUE" value="0"/>
        <const name="DEFAULT_TIMESTAMP_VALUE" value="2015-05-21T09:30:00+02:00"/>
    </php>

    <testsuites>
        <testsuite name="JunitXml Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>

    <logging>
        <log type="coverage-html"
             target="./build/coverage"
             lowUpperBound="35"
       highLowerBound="70"/>
        <log type="coverage-clover"
             target="./build/reports/phpunit.coverage.xml"/>
        <log type="junit"
             target="./build/reports/phpunit.xml"
             logIncompleteSkipped="false"/>
        <log type="coverage-text"
              target="php://stdout"
              showUncoveredFiles="false"/>
    </logging>

    <filter>
        <whitelist>
            <directory>./src</directory>
            <exclude>
                <directory>./tests</directory>
                <directory>./vendor</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>